@keyframes float {
    0% {
        transform: translateY(0rem);
    }
    50% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}