.btn {
    padding: 0rem 1.6rem;
    line-height: 4.1rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.3rem;
    font-weight: 500;
    font-size: 1.4rem;
    color: $white;
    border: 1px solid transparent;
    transition: color .3s, background-color .3s;
    img {
        margin-right: 0.8rem;
    }
    &-primary {
        background-color: $primary-default;
        border-color: $primary-default;
        &:hover {
            background-color: $primary-light;
        }
    }
    &-outline {
        border-color: $white;
        &:hover {
            color: $neutral-200;
            background-color: $white;
        }
    }
}

.game-card {
    display: block;
    width: 100%;
    max-width: 28rem;
    &:hover {
        .image {
            img {
                transform: scale(1.05);
            }
        }
    }
    .image {
        overflow: hidden;
        border-radius: 0.4rem;
        height: 38.4rem;
        width: 100%;
        margin-bottom: 2.4rem;
        img {
            transition: transform .3s ease-in;
        }
    }
    .info {
        h3 {
            font-weight: 600;
            font-size: 1.935rem;
            line-height: 2.9rem;            
            color: $white-100;
            margin-bottom: 0.4rem;
        }
        span {
            font-weight: 400;
            font-size: 1.505rem;
            line-height: 2.3rem;
            color: $transparent-white-800;
        }
    }
    @include responsive (1200px) {
        .image {
            height: 34.3rem;
        }
    }
    @include responsive (991px) {
        .image {
            height: 30.3rem;
        }
    }
    @include responsive (560px) {
        .image {
            height: 21.3rem;
            margin-bottom: 0;
        }
        .info {
            display: none;
        }
    }
}