// Primary Pallete

$primary-darkest: #002550;
$primary-dark: #025A9A;
$primary-default: #00AEFF;
$primary-light: #61CDFF;

// Neutral Colors

$neutral-50: #212428;
$neutral-100: #020203;
$neutral-200: #0B0D12;
$neutral-300: #15171B;
$neutral-400: #1F2025;
$neutral-500: #26272E;
$neutral-600: #2D2F38;
$neutral-700: #363842;
$neutral-800: #8f9199;
$neutral-900: #828792;

// Light Colors

$white: #fff;
$white-100: #E5E5E5;


// Dark colors

$dark: #000;
$dark-100: #020203;
$dark-700: #9D9D9D;

// Transparent White Colors

$transparent-900: rgba(255,255,255,0.9);
$transparent-800: rgba(255,255,255,0.8);
$transparent-700: rgba(255,255,255,0.7);
$transparent-600: rgba(255,255,255,0.6);
$transparent-500: rgba(255,255,255,0.5);
$transparent-400: rgba(255,255,255,0.4);
$transparent-300: rgba(255,255,255,0.3);
$transparent-200: rgba(255,255,255,0.2);
$transparent-100: rgba(255,255,255,0.1);
$transparent-white-800: rgba(229,229,229,0.8);

// Transparent Dark colors

$transparent-dark-700: rgba(21, 23, 27,0.7);